<!DOCTYPE html>
<html>
  <head>
  	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lịch Chiếu: EURO 2016 - Lịch thi đấu - tường thuật trực tiếp - kết quả bóng đá nam</title>
    <!-- ====================================== -->
    <link rel="alternate" hreflang="vi" href="//baijoker.com/" />
    <link rel="publisher" href="" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,IE-11,IE=10,IE=9,IE=EmulateIE7" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.5, minimum-scale=0.3, user-scalable=no" />

    <link id="page_favicon" href="" rel="shortcut icon" type="image/x-icon" />

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="Author" content="lichchieu.com" />
    <meta name="keywords" content="lich chieu, lichchieu, lịch, tường thuật, trực tiếp, bóng đá, sự kiện, truyền hình, chương trình, euro 2016" />
    <meta name="description" content="lichchieu - trang thông tin lịch chiếu, tường thuật trực tiếp bóng đá, chiếu phim, các sự kiện, chương trình truyền hình, euro2016" />

    <!-- Open Graph data -->
    <meta property="og:title" content="lichchieu.com, lịch chiếu bóng đá, sự kiện, chương trình truyền hình, euro 2016" />
    <meta property="og:type" content="APP" />
    <meta property="og:url" content="//lichchieu.com" />
    <meta property="og:image" content="" />
    <meta property="og:description" content="lichchieu - trang thông tin lịch chiếu, tường thuật trực tiếp bóng đá, chiếu phim, các sự kiện, chương trình truyền hình, euro2016" />    

    <script type="application/ld+json">
        {
        "@context": "http://schema.org",
        "@type": "Organization",
        "url": "http://lichchieu.com",
        "logo": "http://static.lichchieu.com/images/portal/logo-header.png",
        "contactPoint" : [
        { "@type" : "ContactPoint",
        "telephone" : "+84 978943458",
        "contactType" : "customer service"
        } ]
        }
    </script>
    <script type="application/ld+json">
        {
        "@context" : "http://schema.org",
        "@type" : "WebSite",
        "name" : "lichchieu.com, lịch chiếu bóng đá, sự kiện, chương trình truyền hình, euro 2016",
        "alternateName" : "lichchieu - trang thông tin lịch chiếu, tường thuật trực tiếp bóng đá, chiếu phim, các sự kiện, chương trình truyền hình, euro2016",
        "url" : "http://lichchieu.com",
        "logo": "http://static.lichchieu.com/images/portal/logo-header.png",
        "sameAs" : [
        "https://twitter.com/lichchieu",
        "https://www.facebook.com/lichchieu",
        "https://plus.google.com/106377879920743719402/posts?hl=en",
        "http://lichchieu.com"
        ]
        }
    </script>
    <!-- ====================================== -->
    <link rel='stylesheet' href='/stylesheets/reset.css' />
    <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">    
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/menu.css' />
  </head>
  <body>    
    <div class="container">
    	<div class="row header">
    		<div class="header-title">
    			<marquee align="center" direction="left" scrollamount="4" width="100%">
	                <p class="notify-content">
	                    <ul>
	                        <li>Trúng Thưởng - Dự Đoán Đội Vô Địch - Sôi động cùng EURO 2016</li>
	                        <li>Chương trình dự đoán trúng thưởng sẽ được thực hiện từ ngày 4/6/2015 - Đến hết vòng đấu Bảng</li>
	                        <li>Vào mục Dự đoán có thưởng để xem chi tiết cách tham dự cũng như thể lệ chương trình để nhận quà</li>
	                        <li>Nhanh tay dự đoán - Nhận ngay thẻ cào giá trị cùng EURO 2016</li>
	                    </ul>
	                </p>                    
	            </marquee>
    		</div>
    		<div class="header-banner">
    			<img src="images/Uefa-euro-2016-france-5.jpg" alt="uefa euro 2016 phap france"  class="img-responsive">
    			<!-- <img src="images/euro2016-banner.jpg" alt="uefa euro 2016 phap france"> -->
    		</div>
    		<div class="top-nav">    			
				<nav class="menu">
				    <ul class="active">
				        <li class="current-item"><a href="/">Home</a></li>
				        <li><a href="/lich-thi-dau-euro-2016">Lịch Thi Đấu</a></li>
				        <li><a href="#">Lịch Tường Thuật Trực Tiếp</a></li>
				        <li><a href="#">Bảng Xếp Hạng</a></li>
				        <li><a href="#">Đội Hình</a></li>
				        <li><a href="/du-doan-co-thuong-euro-2016">Dự Đoán Có Thưởng</a></li>
				    </ul>
				 
				    <a class="toggle-nav" href="#">&#9776;</a>
				 
				    <form class="search-form">
				    	<p>LỊCH CHIẾU - ĐỒNG HÀNH EURO 2016</p>
				        <!-- <input type="text" placeholder="tên đội, cầu thủ hoặc bất cứ thứ gì">
				        <button>Tìm Kiếm</button> -->
				    </form>
				</nav>
    		</div>
    	</div>
    	<div class="row main">
    		<div class="col-xs-12">
    			<h3>LỊCH THI ĐẤU EURO 2016</h3>
                <div class="main-content">
                    <table>
                        <tr class="list-title">
                            <th><a href="#">Thời Gian</a></th>
                            <th><a href="#">Chủ Nhà</a></th>
                            <th><a href="#">Tỷ Số</a></th>
                            <th><a href="#">Đội Khách</a></th>
                            <th><a href="#">Kênh Trực Tiếp</a></th>
                        </tr>                        
                        <% data.fixtures.forEach(function(match){ %> 
                        <tr class="list-el">
                            <td><i><%= match['dateStr'] %></i></td>
                            <td><a href="#"><%= match['homeTeamName'] %></a></td>
                            <td><a href="#"><%= match['goalsHomeTeam'] ? match['goalsHomeTeam'] : '-' %> : <%= match['goalsAwayTeam'] ? match['goalsAwayTeam'] : '-'%></a></td>
                            <td><a href="#"><%= match['awayTeamName'] %></a></td>
                            <td><a href="#"><%= match['liveChanel'] %></a></td>
                        </tr>
                        <% }); %> 
                     </table>                 
                 </div>
    		</div>			
    	</div>
    	<div class="row footer">
    		
    	</div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>    
    <script src="lib/bootstrap/js/bootstrap.min.js"></script>
    <script>
    	jQuery(document).ready(function() {
		    jQuery('.toggle-nav').click(function(e) {
		        jQuery(this).toggleClass('active');
		        jQuery('.menu ul').toggleClass('active');
		 
		        e.preventDefault();
		    });
		});
    </script>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-78787817-1', 'auto');
      ga('send', 'pageview');

    </script>
    
    <div
      class="fb-like"
      data-share="true"
      data-width="100"
      data-show-faces="true">
    </div>
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '251991405165245',
          xfbml      : true,
          version    : 'v2.6'
        });
      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    </script>
  </body>
</html>
